---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn # name is used to identify the volume /var/mnt/<name>
volumeType: disk
filesystem:
  type: xfs
provisioning:
  diskSelector:
    match: disk.size >= 1u * TB
